.todoItem {
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 4px;
	margin: 10px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}
.title {
	width: 80%;
}
.itemID {
	width: 50px;
}